<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Demo form</title>
    <link href="../../Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="customControls.css" rel="stylesheet" />    
    <script src="../../Scripts/lib/angularJS/angular.js"></script>
    <script src="../../Scripts/app/helpers/Helpers.js"></script>
    <script src="customControls.js"></script>
    <script>
        angular.module('app', ['customControls'])
        .controller('mainCtrl', function ($scope, Helpers, $timeout, $q) {
            var gridReady = $q.defer();

            $scope.model = {
                options: {                                                      //configure the searchDropDown
                    items: [],                                                  //provide the list of items to display 
                    id : 'some',
                    showSearch: true,                                           //do show the search input
                    minSearchChars: 2,                                          //start to filter when t least 2 characters are in the input                    
                    onReady: function () {
                        gridReady.resolve();
                    }
                },                
                entities: Helpers.Entities               
            };

            gridReady.promise.then(function () {
                $scope.model.options.api.setItems(Helpers.Items);
            });
        })
        .factory('Helpers', function () {            

            var items = [];

            for (var i = 0; i < 500; i++) {
                items.push({ value: i, label: i.toString() });
            }

            var entities = [];

            for (var i = 0; i < 20; i++) {
                entities.push({ value: i });
            }

            return {
                Items: items,                                                    //provide items to display in the control
                Entities: entities
            };
        });
    </script>
</head>
<body>
    <article class="container" ng-controller="mainCtrl">
        <h2>Styled drop-down</h2>
        <form name="myForm">
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ent in model.entities">
                                <td>
                                    <div search-drop-down options="model.options" ng-model="ent.value" required>
                                        <div class="td">{{item.value}}</div>
                                        <div class="td">{{item.label}}</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>                
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <button class="btn btn-primary" ng-disabled="!myForm.$valid">Save</button>
                </div>
                <div class="col-lg-7 col-lg-offset-1">
                   
                </div>
            </div>
        </form>
    </article>
</body>
</html>
