<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Demo form</title>
    <link href="../../Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="customControls.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <script src="../../Scripts/lib/angularJS/angular.js"></script>
    <script src="../../Scripts/app/helpers/Helpers.js"></script>
    <script src="customControls.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <article class="container" ng-controller="mainCtrl">
        <h2>Demo Form</h2>

        <div class="row">
            <div class="col-lg-2">
                First cycle:
            </div>
            <div class="col-lg-2">
                {{model.firstCycle}}
            </div>
            <div class="col-lg-2">
                Second cycle:
            </div>
            <div class="col-lg-2">
                {{model.secondCycle}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                Another Options
            </div>
            <div class="col-lg-4">
                <div search-drop-down options="model.anotherOptions" ng-model="model.anotherValue"
                     transclusion-url="./one-column-display.html" required>
                </div>
            </div>
        </div>

        <form name="myForm">
            <div class="row">
                <div class="col-lg-12">
                    <table class="demo-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ent in model.entities">
                                <td>Row {{$index}}:</td>
                                <td>                                    
                                    <div search-drop-down options="model.options" ng-model="ent.value"
                                         transclusion-url="./two-column-display.html" required>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <button class="btn btn-primary" ng-disabled="!myForm.$valid">Save</button>
                </div>
                <div class="col-lg-7 col-lg-offset-1">

                </div>
            </div>
        </form>
    </article>
</body>
</html>
